.lightbox {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.50);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 50% auto;
  z-index: 9999;
  animation: popup 0.5s ease;
}
@keyframes popup {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}

.lightbox img:first-child{
  margin: 30px;
  width: 80%;
  height: 80%;
}
.lightbox #popclose{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 6vw;
  height: 6vw;
  border-radius: 50px;
  background-color: white;
  opacity: 0.5;
  padding: 8px;
  transition: all 0.2s ease;
}

.lightbox #arrowleft{
  position: absolute;
  left: 20px;
  padding: 8px;
  width: 8vw;
  height: 8vw;
  font-size: 6vw;
  background-color: white;
  border-radius: 50px;
  opacity: 0.5;
  transition: all 0.2s ease;
}

.lightbox #arrowright{
  position: absolute;
  right: 20px;
  padding: 8px;
  width: 8vw;
  height: 8vw;
  font-size: 6vw;
  color: black;
  background-color: white;
  border-radius: 50px;
  opacity: 0.5;
  transition: all 0.2s ease;
}
#arrowleft:active{
  scale: 0.9;
}
#arrowright:active{
  scale: 0.9;
}
#popclose:active{
  scale: 0.9;
}